<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin: edit user</title>
  </head>
  <body>
    <h3>Admin: edit user</h3>
    <%- include("../partials/navbar", {user}) %>

    <form action="/admin/users/edit/<%= userToEdit._id %>" method="POST">
      <input type="hidden" name="id" value="<%= userToEdit._id %>" />
      Name: <input type="text" name="name" value="<%= userToEdit.name %>" />
      <br /><br />
      Surname:
      <input type="text" name="surname" value="<%= userToEdit.surname %>" />
      <br /><br />
      Email: <input type="text" name="email" value="<%= userToEdit.email %>" />
      <br /><br />
      <!-- Password: <input type="password" name="password" /> <br /><br /> -->
      <button type="submit">Save user</button>
    </form>
  </body>
</html>
